@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: "Space Grotesk", sans-serif;
    background: #000000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(34, 42, 77, 1) 51%, rgba(0, 0, 0, 1) 100%);
}

.container {
    max-width: 1000px;
    margin: auto;
}

.card:hover img {
    filter: brightness(100%);
}

.card:hover {
    box-shadow: #a1610774 0px 0px 0px 3px;
}

.card:hover h3 {
    color: #a16107;
}

.loader {
    display: inline-flex;
    gap: 12px;
}

.loader:before,
.loader:after {
    content: "";
    height: 55px;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
        linear-gradient(#222 0 0) top/100% 40% no-repeat,
        radial-gradient(farthest-side, #000 95%, #0000) 50%/8px 8px no-repeat #fff;
    animation: l7 1.5s infinite alternate ease-in;
}

@keyframes l7 {

    0%,
    70% {
        background-size: 100% 40%, 8px 8px
    }

    85% {
        background-size: 100% 120%, 8px 8px
    }

    100% {
        background-size: 100% 40%, 8px 8px
    }
}

.card:hover .card-hover {
    box-shadow: #54a3db31 0px -120px 36px -28px inset;
}

.card:hover {
    box-shadow: #54a3db6b 0px 0px 0px 3px;
}