@tailwind base;
@tailwind components;
@tailwind utilities;

html{ 
    scroll-behavior: smooth; 
    overflow-x: hidden;
}
body {
    background: #010823;
    background: linear-gradient(0deg, #010823 0%, #f3f5f5 100%);
    overflow-x: hidden !important;
}
.card:hover img{
    filter: brightness(100%);
}
.card:hover { 
    box-shadow: #a1610774 0px 0px 0px 3px;
}
.card:hover h3{
    color: #a16107;
}
